.icon {
    padding: unset;
    margin: unset;
    font-size: normal;
    display: inline-block;
    height: auto;
    width: auto;
    min-height: 25px;
    min-width: 25px;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--cell {
        max-height: 25px;
        max-width: 25px;
    }

    &--small {
        max-width: 49px;
        max-height: 48px;
    }

    &--big {
        max-width: 88px;
        max-height: 82px;
    }

    &--medium {
        max-width: 70px;
        max-height: 69px
    }
}

.i-bag {
    content: url("./../../assets/imgs/bag.png");
}

.i-apple {
    content: url("./../../assets/imgs/apple.png");
}

.i-build {
    content: url("./../../assets/imgs/build.png");
}

.i-coin {
    content: url("./../../assets/imgs/coin.png");
}

.i-combat {
    content: url("./../../assets/imgs/combat.png");
}

.i-event {
    content: url("./../../assets/imgs/event.png");
}

.i-flower {
    content: url("./../../assets/imgs/flower.png");
}

.i-glory {
    content: url("./../../assets/imgs/glory.png");
}

.i-grail {
    content: url("./../../assets/imgs/grail.png");
}

.i-house {
    content: url("./../../assets/imgs/house.png");
}

.i-joker {
    content: url("./../../assets/imgs/joker.png");
}

.i-required {
    content: url("./../../assets/imgs/required.png");
}

.i-reroll {
    content: url("./../../assets/imgs/reroll.png");
}

.i-smile {
    content: url("./../../assets/imgs/smile.png");
}

.i-tower {
    content: url("./../../assets/imgs/tower.png");
}

.i-tree {
    content: url("./../../assets/imgs/tree.png");
}

.i-wall {
    content: url("./../../assets/imgs/wall.png");
}

.i-warn {
    content: url("./../../assets/imgs/warn.png");
}

.i-wave {
    content: url("./../../assets/imgs/wave.png");
}

.i-wave_2 {
    content: url("./../../assets/imgs/wave_2.png");
}

.i-wheat {
    content: url("./../../assets/imgs/wheat.png");
}