.stat-table {
    background-color: #fff;
    display: flex;

    &__icon {
        width: 30px;
        height: 30px;
    }

    &__cell {
        vertical-align: bottom;
        display: flex;
        border: 1px solid #ccc;
        width: 30px;
        height: 30px;
        padding: 0;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &--active {
            border: 1px solid #000;
        }
    }

}